@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Black/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Black/GothamPro-Black.woff") format("woff2"),
    url("../fonts/GothamPro-Black/GothamPro-Black.woff") format("woff"),
    url("../fonts/GothamPro-Black/GothamPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff2"),
    url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"),
    url("../fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Light/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light/GothamPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Light/GothamPro-Light.woff") format("woff2"),
    url("../fonts/GothamPro-Light/GothamPro-Light.woff") format("woff"),
    url("../fonts/GothamPro-Light/GothamPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff2"),
    url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff"),
    url("../fonts/GothamPro-Medium/GothamPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}