@import "../../sass/variables.scss";

.ContestRules {
    display: inline-block;
    width: 100%;
    background: #000;
    text-align: center;
    font-size: 15px;
    min-height: calc(100vh + 2px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 3;

    @media (max-width: $mobile_p) {
        font-size: 10px;
    }

    @media (min-width: $mobile_p+1) and (max-width: $mobile_l) {
        font-size: 12px;
    }

    @media (min-width: $mobile_l+1) and (max-width: $tablets) {
        font-size: 12px;
    }

    @media (min-width: $tablets+1) and (max-width: $desctops_s) {
        font-size: 12px;
    }

    @media (min-width: $desctops_s) {
        font-size: 15px;
    }

    .titles {
        font-size: 1.2em;
        margin-top: -3vh;

        @media (max-width: $tablets) {
            margin-top:auto;
        }
    }

    .title1 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 2.0rem;

        @media (max-width: $tablets) {
            font-size: 1.7rem;
           // max-width: 70vw;
           // margin-left: 15vw;
        }
    }

    .license {
        opacity: 0.6;
        color: #b1b1b1;
        font-size: 12px;
        display: inline-block;
        clear: both;
        font-weight: 400;
        font-family: "GothamPro", sans-serif;
        text-align: left;
        width: 85vw;
        max-width: 1600px;
        margin: 0px auto 0px;
        position: absolute;
        bottom: 15px;

        @media (max-width: $tablets) {
            font-size: 10px;
            position: relative;
            bottom: 20px;
            margin: 20px auto;
        }

        span {
            top: -5px;
            position: absolute;
            left: -8px;
            font-size: 17px;
        }
    }

    .icons {
        width: 85vw;
        max-width: 1500px;
        margin: 0 auto 60px;
        color: #ff7e00;
        font-family: "GothamPro", sans-serif;
        font-size: 1.0em;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: $tablets) {
            margin: 0 auto;
        }


        .number {
            font-size: 2.2em;

            @media (max-width: $tablets) {
                font-size: 2.2em;
            }
        }

        .bg {
            background: url('../../images/ContestRules/icon4.png') center center no-repeat;
            top: -20%;
            height: 100%;
            width: 100%;
            position: absolute;
            background-size: 145%;
            z-index: 1;
        }

        .icon {
            width: 23%;
            display: inline-block;
            float: left;
            margin: 0 1%;

            @media (max-width: $tablets) {
                width: 48%;
                margin-bottom: 20px;
            }

            img {
                width: 100%;
            }

            span {
                color: #fff;
            }

            .description {
                z-index: 2;
                position: relative;
                text-align: left;
                display: inline-block;
            }

            &.icon1 {
                padding-top: 22%;
                background: url('../../images/ContestRules/icon1.png') center center no-repeat;
                background-size: 125%;

                @media (max-width: $tablets) {
                    padding-top: 40%;
                    background: url('../../images/ContestRules/icon1.png') center top no-repeat;
                    background-size: 115%;
                }

            }

            &.icon2 {
                padding-top: 22%;
                background: url('../../images/ContestRules/icon2.png') center center no-repeat;
                background-size: 50%;

                img {
                    width: 35px;
                    display: block;
                    margin-top: 5px;

                    width: 20px;
                }

                @media (max-width: $tablets) {
                    padding-top: 40%;
                    background: url('../../images/ContestRules/icon2.png') center top no-repeat;
                    background-size: 50%;
                }
            }

            &.icon3 {
                padding-top: 22%;
                background: url('../../images/ContestRules/icon3.png') center center no-repeat;
                background-size: 50%;

                @media (max-width: $tablets) {
                    padding-top: 40%;
                    background: url('../../images/ContestRules/icon3.png') center top no-repeat;
                    background-size: 50%;
                }
            }

            &.icon4 {
                padding-top: 22%;
                position: relative;

                @media (max-width: $tablets) {
                    padding-top: 40%;
                }
            }

        }
    }
}